<div b-2ya7vgwtda class="container">
    <main b-2ya7vgwtda role="main" class="pb-3" style="margin-top: 60px;">

        <div class="header">
            <h1>History for ndotby k</h1>
            <h3>Current Balance: -$310.00</h3>
        </div>

        <div class="row header">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>
                            Contribution for the John Doe simcha
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            Thursday, 29 September 2022
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            -$5.00
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>

        <div style="text-align:center;">
            <a class="btn btn-lg btn-danger" href="/home/contributors">Back to Contributors</a>
        </div>
    </main>
</div>